<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">PALNAR TRANSMEDIA</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="logout" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="login" (click)="login()">LogIn</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>